




#slidecasting {
    height: 100%;
    left: 10%;
    position: relative;
    width: 80%;
}

.presentation {
    float: right;
    height: 100%;
    position: relative;
    width: 50%;
}

.video {
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
}

img {

    width: 100%;
}
